<div class="container-fluid" [ngStyle]="textStyle">
    <div class="row">
        <div class="col-12">
            <div class="row" style="background-color: lightgreen;">
                <div class="col-12 d-flex justify-content-center">
                    <h2>Tithing</h2>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p>"EACH OF YOU SHOULD GIVE WHAT YOU HAVE DECIDED IN YOUR HEART TO GIVE, NOT RELUCTANTLY OR UNDER COMPULSION, FOR GOD LOVES A CHEERFUL GIVER." -2 CORINTHIANS 9:7</p>
                </div>
            </div>
        </div>
        <div class="col-12 p-0">
            <img class="img-fluid w-100" src="https://p07y4g.bn.files.1drv.com/y4mxjdFh2z0Ao_jKZxqkFvKh6E4xQPYvHQNtKEjZPA1kcWoQsvTrGPS2fnAWyGfn-gOhQ0Wl-qssHmt1qfUSa0kBEEqtmvjTVNceCunY-RuyUGaECutsR3X1UnICWL3JC5_Bqjy2bcHlgwzIhuq7sxnzL4W6YWgvz5_-bJBEZe8kuJms7Qj5y8c3gv57MdLcqELJqZzFWAapjEK9vpeKBX4wA?width=1024&height=716&cropmode=none" alt="lake">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row" [ngStyle]="box">
                <div class="col-12 d-flex justify-content-center">
                    <h4>Online Giving</h4>
                </div>
                <div class="col-12">
                    <p>
                        We realize that we have busy lives and that more of life's transactions happen online. 
                        You can do your giving online at: <a href="https://app.easytithe.com/App/Giving/citychurchstockton">easyTithe.com/citychurchstockton</a>
                    </p>
                </div>
            </div>
            <div class="row" [ngStyle]="box">
                <div class="col-12 d-flex justify-content-center">
                    <h4>Text Giving</h4>
                </div>
                <div class="col-12">
                    <p class="d-block">
                        We use our phones for just about everything these days. 
                        Want to use your phone for your giving? 
                        Text to give is another option to make giving easier for you in our modern world of technology.
                    </p>
                    <p class="d-block"><strong>How It Works:</strong></p>
                    <p class="d-block">
                        Text (209)783-3007 and send text message with the dollar amount (e.g. $10).
                        If this is your first time giving this way, it will have you fill out a short form with your billing info.
                        After the initial setup, giving is as easy as sending a text message.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
