<div class="container-fluid" [ngStyle]="textStyle">
    <div class="row">
        <div class="col-12">
            <div class="row" style="background-color: lightgray;">
                <div class="col-12 d-flex justify-content-center">
                    <h2>Our Beliefs</h2>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p><strong>"JESUS CHRIST IS THE SAME YESTERDAY, TODAY, AND FOREVER." -HEBREWS 13:8</strong></p>
                </div>
            </div>  
        </div>
        <div class="col-12 p-0">
            <img class="img-fluid w-100" src="https://o049bg.bn.files.1drv.com/y4mlEav6vaJ0g7Gy-Sge-E2GMyIfojJxxEAdlN25pJBXnRXu127LOemNAc50K_N61gM-m8EqTlf71ZZW-DdoMDapyq6RNKvma5D8ZTmU6B52idmbHFj7RlLPXzUxzetbR57uGOGrwmkAyP5K2fw-jBOUBZTasak5ZMfzYAUaHzi6MUM2Cze8l2j0rwXzTqZSyzZtCaCBDQk1PoO4NXco_4anw?width=1280&height=853&cropmode=none" alt="pastors">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2>What We Believe</h2>
        </div>
        <div class="col-12" [ngStyle]="box">
            <p>
                The <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSlsOelPxuZ4l1T_yndyjikFZOvES-weJKVMA&usqp=CAU" alt="foursquare church" [ngStyle]="imgSize">
                Foursquare Church believes that Jesus Christ is the Savior, Baptizer with the Holy Spirit, Healer, and Soon-Coming King.
                We stand firm on the foundation set by Hebrews 13:8, which proclaims:"Jesus Christ the Same, Yesterday, Today, and Forever."
            </p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h2>Declaration of Faith</h2>
        </div>
        <div class="col-12" [ngStyle]="box">
            <p> Download the full <a href="https://foursquare-org.s3.amazonaws.com/assets/Declaration_of_Faith.pdf">Foursquare Declaration of Faith</a> PDF as outlined by Foursquare founder Aimee Semple McPherson.</p>
        </div>
    </div>
</div>
