<div class="container-fluid" [ngStyle]="textOnly">
    <div class="row" style="background-color: lightgoldenrodyellow;">
        <div class="col-12 d-flex justify-content-center">
            <h2>Our Leaders</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p><strong>"LET EACH OF YOU LOOK NOT ONLY TO HIS OWN INTERESTS, BUT ALSO TO THE INTERESTS OF OTHERS" -PHILIPPIANS 2:4</strong></p>
        </div>
    </div>
    <div class="row" [ngStyle]="background">
        <div class="col-12">
            <div class="row mt-5 py-5" style="color: white;">
                <div class="col-12 d-flex justify-content-center mt-5">
                    <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7NOpOwhLjOqeB9XNccXJvkmB3UhyJCJk9-Q&usqp=CAU" alt="Pastors">
                </div>
                <div class="col-12 d-flex justify-content-center mt-5">
                    <h4>Pastor Dan and Audra Coburn</h4>
                </div>
                <div class="col-12 d-flex justify-content-center mt-5">
                    <p>Dan and Audra Coburn are licensed and ordained Pastors with the International Church of the Foursquare Gospel.
                        In the past 20 years they have served as Youth Pastor, Kid's Pastor, Administrative Pastor, and now as Lead Pastors at City Church Stockton.
                        Dan and Audra have been married over 20 years and have 4 children: Joe(23), Mikalya(18), Gabriella(14), and Levi(10).
                        We want you to know that at City Church we are "real" people, doing life together with the HOPE of Jesus Christ!
                        Come say "hi" and lets have lunch together!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
